

<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-evenly center">


<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Source Code</mat-card-title>
        <mat-card-subtitle>References to relevant source codes of ViennaTS </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

                <div fxLayout="column"  fxLayoutAlign="center center" >
                    <div>ViennaTS (native) source code:</div>
                    <a href="https://github.com/viennats/viennats-dev" target="_blank">https://github.com/viennats/viennats-dev</a>
                    <div>ViennaTS (WebAssembly) source code:</div>
                    <a href="https://github.com/hpcwasm/viennats-dev" target="_blank">https://github.com/hpcwasm/viennats-dev</a>    
                    <div>WebApplication (angular) source code:</div>
                    <a href="https://github.com/hpcwasm/viennats-webapp" target="_blank">https://github.com/hpcwasm/viennats-webapp</a>                                      
                </div>

    </mat-card-content>
</mat-card>

<mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Developers</mat-card-title>
            <mat-card-subtitle>Members of the  <a href="http://www.iue.tuwien.ac.at" target="_blank">Institue for Microelectronics</a>  involved with ViennaTS </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
    
                    <div fxLayout="column" fxLayoutAlign="center center"  >
                            <a href="http://www.iue.tuwien.ac.at/staff/manstetten" target="_blank">Paul Manstetten</a>
                            <a href="http://www.iue.tuwien.ac.at/staff/klemenschits" target="_blank">Xaver Klemenschits</a>    
                            <a href="http://www.iue.tuwien.ac.at/staff/toifl" target="_blank">Alexander Toifl</a>       
                            <a href="http://www.iue.tuwien.ac.at/staff/weinbub" target="_blank">Josef Weinbub</a>    
                            <a href="http://www.iue.tuwien.ac.at/staff/filipovic" target="_blank">Lado Filipovic</a>                                                                                          
                    </div>
    
        </mat-card-content>
</mat-card>



</div>

