<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Source Code</mat-card-title>
        <mat-card-subtitle>References to relevant source code and contacts are listed below. </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

                <div fxLayout="column" fxLayoutAlign="center center" >
                    <div>ViennaTS (native) source code:</div>
                    <a href="https://github.com/viennats/viennats-dev" target="_blank">https://github.com/viennats/viennats-dev</a>
                    <div>ViennaTS (native) source code:</div>
                    <a href="https://github.com/viennats/viennats-dev" target="_blank">https://github.com/viennats/viennats-dev</a>                    
                </div>

    </mat-card-content>
</mat-card>
<mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Developers</mat-card-title>
            <mat-card-subtitle>References to relevant source code and contacts are listed below. </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
    
                    <div fxLayout="column" fxLayoutAlign="center center"  >
                            <a href="http://www.iue.tuwien.ac.at/staff/manstetten" target="_blank">Paul Manstetten</a>
                            <a href="http://www.iue.tuwien.ac.at/staff/klemenschits" target="_blank">Xaver Klemenschits</a>               
                    </div>
    
        </mat-card-content>
</mat-card>
